<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletCSJ36WEDDEMO1</display-name>
  <servlet>
    <servlet-name>MyLoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MyRegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyRegistrationServlet</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Addition</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>controller.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDispatcher</display-name>
    <servlet-name>RequestDispatcher</servlet-name>
    <servlet-class>controller.RequestDispatcher1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcher</servlet-name>
    <url-pattern>/RequestDispatcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeServlet1</display-name>
    <servlet-name>WelcomeServlet1</servlet-name>
    <servlet-class>controller.WelcomeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServlet1</servlet-name>
    <url-pattern>/WelcomeServlet1</url-pattern>
  </servlet-mapping>
</web-app>